[View in Colaboratory](https://colab.research.google.com/github/rahulkumar-aws/MLandDeepLearningWork/blob/master/FirstMLTest.ipynb)

In [0]:
import tensorflow as tf

In [0]:
import pandas as pd

In [0]:
census = pd.read_csv("census_data.csv")

In [4]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [0]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [8]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_data = census.drop('income_bracket', axis=1)
y_labels = census['income_bracket']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.3, random_state=101)

In [13]:
census.columns

Index([u'age', u'workclass', u'education', u'education_num', u'marital_status',
       u'occupation', u'relationship', u'race', u'gender', u'capital_gain',
       u'capital_loss', u'hours_per_week', u'native_country',
       u'income_bracket'],
      dtype='object')

In [0]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female","Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [0]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [0]:
feat_cols = [gender, occupation, marital_status, relationship, education, workclass, native_country, age, education_num, capital_gain, capital_loss, hours_per_week]

In [0]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100, num_epochs=None, shuffle=True)

In [18]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp8vtWWI
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_task_type': 'worker', '_global_id_in_cluster': 0, '_is_chief': True, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f8ee0acbfd0>, '_evaluation_master': '', '_save_checkpoints_steps': None, '_keep_checkpoint_every_n_hours': 10000, '_service': None, '_num_ps_replicas': 0, '_tf_random_seed': None, '_master': '', '_device_fn': None, '_num_worker_replicas': 1, '_task_id': 0, '_log_step_count_steps': 100, '_model_dir': '/tmp/tmp8vtWWI', '_train_distribute': None, '_save_summary_steps': 100}

In [19]:
model.train(input_fn=input_func, steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp8vtWWI/model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 117.879
INFO:tensorflow:loss = 0.00046482627, step = 101 (0.858 sec)
INFO:tensorflow:global_step/sec: 172.279
INFO:tensorflow:loss = 6.9984686e-05, step = 201 (0.574 sec)
INFO:tensorflow:global_step/sec: 166.909
INFO:tensorflow:loss = 0.0008291008, step = 301 (0.608 sec)
INFO:tensorflow:global_step/sec: 167.407
INFO:tensorflow:loss = 9.900533e-05, step = 401 (0.595 sec)
INFO:tensorflow:global_step/sec: 160.395
INFO:tensorflow:loss = 0.0004491575, step = 501 (0.615 sec)
INFO:tensorflow:global_step/sec: 176.006
INFO:tensorflow:loss = 0.00031855842, step = 601 (0.568 sec)
INFO:tensorflow:global_step/sec: 169.399
INFO:tensorflow:loss = 0.0008982996, step = 701 (0.595 sec)
INFO:tensorflow:global_step/sec: 166.703
INFO:tensorflow:loss = 0.00019202507, step = 801 (0.600 sec)
INFO:tensorflow:global_step/sec: 170.857
INFO:tensorflow:loss = 0.00043265644, step = 901 (0.583 sec)
INFO:tensorflow:global_step/sec: 155.353
INFO:tensorflow:loss = 0.00012102465, step = 1001 (0.641 sec)
INFO:tensorflow:global_step/sec: 162.269
INFO:tensorflow:loss = 0.00021823848, step = 1101 (0.620 sec)
INFO:tensorflow:global_step/sec: 162.849
INFO:tensorflow:loss = 0.000959044, step = 1201 (0.612 sec)
INFO:tensorflow:global_step/sec: 184.197
INFO:tensorflow:loss = 0.00015210135, step = 1301 (0.547 sec)
INFO:tensorflow:global_step/sec: 159.3
INFO:tensorflow:loss = 0.00018296007, step = 1401 (0.629 sec)
INFO:tensorflow:global_step/sec: 161.075
INFO:tensorflow:loss = 0.0007501255, step = 1501 (0.618 sec)
INFO:tensorflow:global_step/sec: 170.614
INFO:tensorflow:loss = 0.00036372794, step = 1601 (0.585 sec)
INFO:tensorflow:global_step/sec: 164.65
INFO:tensorflow:loss = 6.329037e-05, step = 1701 (0.607 sec)
INFO:tensorflow:global_step/sec: 163.916
INFO:tensorflow:loss = 0.0005571623, step = 1801 (0.614 sec)
INFO:tensorflow:global_step/sec: 169.768
INFO:tensorflow:loss = 0.0017212795, step = 1901 (0.584 sec)
INFO:tensorflow:global_step/sec: 163.066
INFO:tensorflow:loss = 0.00032096, step = 2001 (0.615 sec)
INFO:tensorflow:global_step/sec: 171.385
INFO:tensorflow:loss = 4.905689e-05, step = 2101 (0.587 sec)
INFO:tensorflow:global_step/sec: 163.404
INFO:tensorflow:loss = 0.00045123373, step = 2201 (0.606 sec)
INFO:tensorflow:global_step/sec: 173.185
INFO:tensorflow:loss = 0.00012640988, step = 2301 (0.579 sec)
INFO:tensorflow:global_step/sec: 167.856
INFO:tensorflow:loss = 0.0002579073, step = 2401 (0.599 sec)
INFO:tensorflow:global_step/sec: 174.781
INFO:tensorflow:loss = 0.0004262383, step = 2501 (0.572 sec)
INFO:tensorflow:global_step/sec: 181.507
INFO:tensorflow:loss = 8.4020605e-05, step = 2601 (0.557 sec)
INFO:tensorflow:global_step/sec: 161.313
INFO:tensorflow:loss = 0.00024147861, step = 2701 (0.615 sec)
INFO:tensorflow:global_step/sec: 187.361
INFO:tensorflow:loss = 0.00015282573, step = 2801 (0.529 sec)
INFO:tensorflow:global_step/sec: 167.727
INFO:tensorflow:loss = 0.0006124436, step = 2901 (0.594 sec)
INFO:tensorflow:global_step/sec: 168.171
INFO:tensorflow:loss = 0.0007220065, step = 3001 (0.596 sec)
INFO:tensorflow:global_step/sec: 172.918
INFO:tensorflow:loss = 0.00024507978, step = 3101 (0.577 sec)
INFO:tensorflow:global_step/sec: 169.314
INFO:tensorflow:loss = 7.93668e-05, step = 3201 (0.597 sec)
INFO:tensorflow:global_step/sec: 163.832
INFO:tensorflow:loss = 0.0004571437, step = 3301 (0.604 sec)
INFO:tensorflow:global_step/sec: 161.373
INFO:tensorflow:loss = 0.00042701443, step = 3401 (0.622 sec)
INFO:tensorflow:global_step/sec: 159.072
INFO:tensorflow:loss = 0.00020113778, step = 3501 (0.632 sec)
INFO:tensorflow:global_step/sec: 172.394
INFO:tensorflow:loss = 2.2426608e-05, step = 3601 (0.580 sec)
INFO:tensorflow:global_step/sec: 167.175
INFO:tensorflow:loss = 4.672555e-05, step = 3701 (0.597 sec)
INFO:tensorflow:global_step/sec: 168.915
INFO:tensorflow:loss = 2.0872287e-05, step = 3801 (0.592 sec)
INFO:tensorflow:global_step/sec: 169.724
INFO:tensorflow:loss = 0.00011876889, step = 3901 (0.586 sec)
INFO:tensorflow:global_step/sec: 162.804
INFO:tensorflow:loss = 0.0001460494, step = 4001 (0.619 sec)
INFO:tensorflow:global_step/sec: 162.936
INFO:tensorflow:loss = 8.553557e-05, step = 4101 (0.612 sec)
INFO:tensorflow:global_step/sec: 165.24
INFO:tensorflow:loss = 5.209507e-05, step = 4201 (0.608 sec)
INFO:tensorflow:global_step/sec: 172.484
INFO:tensorflow:loss = 0.000106966705, step = 4301 (0.577 sec)
INFO:tensorflow:global_step/sec: 170.722
INFO:tensorflow:loss = 1.0862233e-05, step = 4401 (0.585 sec)
INFO:tensorflow:global_step/sec: 169.645
INFO:tensorflow:loss = 0.0013915246, step = 4501 (0.589 sec)
INFO:tensorflow:global_step/sec: 169.366
INFO:tensorflow:loss = 0.00064328563, step = 4601 (0.589 sec)
INFO:tensorflow:global_step/sec: 162.169
INFO:tensorflow:loss = 2.1792166e-05, step = 4701 (0.615 sec)
INFO:tensorflow:global_step/sec: 167.37
INFO:tensorflow:loss = 0.00024272017, step = 4801 (0.599 sec)
INFO:tensorflow:global_step/sec: 171.616
INFO:tensorflow:loss = 0.00010551539, step = 4901 (0.585 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /tmp/tmp8vtWWI/model.ckpt.
INFO:tensorflow:Loss for final step: 0.00020699612.

In [0]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle=True)

In [21]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp8vtWWI/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [22]:
predictions[0]

{'class_ids': array([1]),
 'classes': array(['1'], dtype=object),
 'logistic': array([1.], dtype=float32),
 'logits': array([16.692675], dtype=float32),
 'probabilities': array([5.6294184e-08, 1.0000000e+00], dtype=float32)}

In [0]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [24]:
final_preds[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [0]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_test, final_preds))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00      9769

avg / total       1.00      1.00      1.00      9769